<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="css/student.css">
</head>
<body>
  <%- include('partials/studentSidebar') %>
  <header>
  </header>
  <main>
    <section class="dashboard-content">
      <h2>Student Dashboard</h2>
      <p>Here you can view your subjects, assignments, and more.</p>
    </section>
  </main>
  <script src="/js/studentdashboard.js"></script>
  <script src="/js/user.js"></script>
</body>
</html>
