/* General layout */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom, #f0f4f8, #d9e8fc);
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

.title {
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  margin-left: 6rem;
}

.card {
  background: white;
  margin-left: 6rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: auto; /* Slightly reduced width for closer cards */
  transition: transform 0.3s ease, box-shadow 0.2s ease;
  }


.info-data {
  gap: 1rem; /* Adjusted gap for closer cards */
}

/* Hover effect for cards */
.card:hover {
  transform: translateY(-10px); /* Lift the card up */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Increase shadow intensity */
}
