/* Main Section Styling */
/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}

main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}
main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head h2 {
	font-size: 24px;
	font-weight: 600;
}
main .card .head p {
	font-size: 14px;
}
main .card .head .icon {
	font-size: 20px;
	color: var(--green);
}
main .card .head .icon.down {
	color: var(--red);
}
main .card .progress {
	display: block;
	margin-top: 24px;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background: var(--grey);
	overflow-y: hidden;
	position: relative;
	margin-bottom: 4px;
}
main .card .progress::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--blue);
	width: var(--value);
}
main .card .label {
	font-size: 14px;
	font-weight: 700;
}
main .data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}
main .data .content-data {
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
main .content-data .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
main .content-data .head h3 {
	font-size: 20px;
	font-weight: 600;
}
main .content-data .head .menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .content-data .head .menu .icon {
	cursor: pointer;
}
main .content-data .head .menu-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	width: 140px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	padding: 10px 0;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
main .content-data .head .menu-link.show {
	top: 100%;
	opacity: 1;
	pointer-events: visible;
}
main .content-data .head .menu-link a {
	display: block;
	padding: 6px 16px;
	font-size: 14px;
	color: var(--dark);
	transition: all .3s ease;
}
main .content-data .head .menu-link a:hover {
	background: var(--grey);
}
main .content-data .chart {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar {
	display: none;
}

main .chat-box {
	width: 100%;
	max-height: 360px;
	overflow-y: auto;
	scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
	display: none;
}
main .chat-box .day {
	text-align: center;
	margin-bottom: 10px;
}
main .chat-box .day span {
	display: inline-block;
	padding: 6px 12px;
	border-radius: 20px;
	background: var(--light-blue);
	color: var(--blue);
	font-size: 12px;
	font-weight: 600;
}
main .chat-box .msg img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
}
main .chat-box .msg {
	display: flex;
	grid-gap: 6px;
	align-items: flex-start;
}
main .chat-box .profile .username {
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin-right: 6px;
}
main .chat-box .profile .time {
	font-size: 12px;
	color: var(--dark-grey);
}
main .chat-box .chat p {
	font-size: 14px;
	padding: 6px 10px;
	display: inline-block;
	max-width: 400px;
	line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
	border-radius: 0 5px 5px 5px;
	background: var(--blue);
	color: var(--light);
}
main .chat-box .msg.me {
	justify-content: flex-end;
}
main .chat-box .msg.me .profile {
	text-align: right;
}
main .chat-box .msg.me p {
	background: var(--grey);
	border-radius: 5px 0 5px 5px;
}
main form {
	margin-top: 6px;
}
main .form-group {
	width: 100%;
	display: flex;
	grid-gap: 10px;
}
main .form-group input {
	flex-grow: 1;
	padding: 10px 16px;
	border-radius: 5px;
	outline: none;
	background: var(--grey);
	border: none;
	transition: all .3s ease;
	width: 100%;
}
main .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
main .btn-send {
	padding: 0 16px;
	background: var(--blue);
	border-radius: 5px;
	color: var(--light);
	cursor: pointer;
	border: none;
	transition: all .3s ease;
}
main .btn-send:hover {
	background: var(--dark-blue);
}

.student-list-section {
	margin: 20px;
  }
  
  .table-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .table-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .table-header h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #333;
  }
  
  .btn-add-student {
	background-color: #90EE90;
	color: #fff;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1rem;
	display: flex;
	align-items: center;
	gap: 5px;
  }
  
  .btn-add-student:hover {
	background-color: #0bc70bcb;
  }
  
  .table-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
  }
  
  .table-controls select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  
  .search-box {
	position: relative;
  }
  
  .search-box input {
	padding: 8px 35px 8px 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 200px;
  }
  
  .search-box i {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #333;
  }
  
  .student-table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .student-table th,
  .student-table td {
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd;
  }
  
  .student-table th {
	background-color: #f4f4f4;
	color: #333;
	font-weight: 600;
  }
  
  .student-table tbody tr:hover {
	background-color: #f1f1f1;
  }
  
  .student-table tbody tr td i {
	cursor: pointer;
	margin-right: 5px;
  }
  
  .student-table tbody tr td i:hover {
	color: #2563eb;
  }
  
  /* Pagination Styling */
  .table-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
  }
  
  .pagination {
	display: flex;
	align-items: center;
	gap: 5px;
  }
  
  .btn-pagination,
  .btn-page {
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	cursor: pointer;
  }
  
  .btn-pagination:hover,
  .btn-page:hover {
	background-color: #f1f1f1;
  }
  
  .btn-page.active {
	background-color: #90EE90;
	color: white;
	border: none;
  }
  
  /*Css modal for add product pop up ni ah*/
/* Modal Background */
.modal-bg {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
  }
  
  /* Modal Content (Horizontal Layout) */
  .modal-content-horizontal {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 30px;
	border-radius: 10px;
	max-width: 800px;
	width: 90%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Modal Header */
  .modal-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
  }
  
  .modal-header h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: #333;
  }
  
  .close-btn {
	cursor: pointer;
	font-size: 1.5rem;
  }
  
  /* Form Layout */
  .add-student-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	width: 100%;
  }
  
  .form-fields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	width: 100%;
  }
  
  /* Individual Input Fields */
  .input-group {
	display: flex;
	flex-direction: column;
	gap: 5px;
  }
  
  .input-group input,
  .input-group select,
  .input-group textarea {
	padding: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 100%;
  }
  
  .input-group label {
	font-weight: 600;
	margin-bottom: 5px;
  }
  
  textarea {
	resize: vertical;
	height: 80px;
  }
  
  /* Button Group Styling */
  .form-actions {
	grid-column: span 2;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-top: 20px;
  }
  
  .btn-add {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	width: 48%;
	text-align: center;
  }
  
  .btn-add:hover {
	background-color: #45a049;
  }
  
  .btn-cancel {
	background-color: #d32626;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	width: 48%;
	text-align: center;
  }
  
  .btn-cancel:hover {
	background-color: #eb4949;
  }
  
  /* Adjust spacing for better alignment */
  .modal-content-horizontal .form-fields > div {
	display: flex;
	flex-direction: column;
  }

  